NEXT_PUBLIC_APP_NAME='Mituni Laundry'
NEXT_PUBLIC_APP_DESCRIPTION='This is a Mituni Laundry'
NEXT_PUBLIC_APP_URL='http://localhost:3000'

NEXT_PUBLIC_API_URL='https://apimituni.kasiak.web.id'
NEXT_PUBLIC_MITUNI_API_KEY='mituniKEY2025'
#AUTH
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="chj2BkfZ9CM37lgnLEORkaNj7GakzY1EJouC7uNF+EI="

#Security
ARCJET_KEY=